<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="app" value="C:\Appium\example.apk"/>
    <add key="appConfig" value="App.config"/>
    <add key="automationName" value="Appium"/>
    <add key="deviceName" value="Android Emulator"/>
    <add key="hubUri" value="http://127.0.0.1:4723/wd/hub"/>
    <add key="logDestination" value="context"/>
    <add key="platformName" value="Android"/>
  </appSettings>
</configuration>
