<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appConfig" value="App.config"/>
    <add key="baseUrl" value="http://sdetqa.com" />
    <add key="browser" value="chrome" />
    <add key="hubUri" value="http://localhost:4444/wd/hub" />
    <add key="logDestination" value="context"/>
    <add key="screenshotFolder" value="C:/Selenium/Screenshots/"/>
  </appSettings>
</configuration>